.footer {
    background-color: #4B7709;
    background-image: url('../images/footer-bg.svg');
    background-repeat: no-repeat;
    padding: 10% 20px 4 % 20px;
    text-align: center;
    color:#fff;
    font-size: 0.8em;
}

.footer p {
    padding: 0;
    margin: 0;
}