.header {
    padding-top: 35px;
}

.header h1 {
    text-align: center;
    margin-bottom: 25px;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 3px;
  }

.logo img {
    width: 80px;
  }

.header h1 a {
    font-size: 28px;
    text-decoration: none;
    color: #D67900;
}