.header {
    /* background-color: #ffffff; */
    padding-top: 40px;
    /* border-top: 10px solid green; */
}

.header h1 {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

.logo img {
    width: 80px;
  }

.header h1 a {
    font-size: 28px;
    text-decoration: none;
    color: orange;
}