@import 'variables';
@import 'reset';
@import 'mygrid';

@import url('https://fonts.googleapis.com/css?family=Muli|Nunito');


/* --- GENERAL --- */ 

/* Definierar bakgrundsfärg och font-styling */
body {
    color: $font-color;
    font-family: 'Muli', sans-serif;
}

/* Wrapper för innehållet, centrerar content och sätter bredd */
.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    overflow: auto;
}

.bg-first-section {
  background-image: url('../images/intro-img.png');
  background-repeat: no-repeat;
}

.bg-color1 {
  background-color: $primary-color;
}

.bg-color2 {
  background-color: $background-white;
}

.bg-color3 {
  background-color: $primary-color-light;
}

.introduction {
  background-color: $background-white;
  margin: 305px 10% 45px 10%;
  padding: 45px 65px 55px 65px;
  -webkit-box-shadow: 0px 10px 25px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 25px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 25px -16px rgba(0,0,0,0.75);
}


/*** Text ***/

h1 {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 0.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 0.7em;
  font-weight: bold;
}

p, li p {
  line-height: 1.75em;
  margin-bottom: 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

.introduction p {
  text-align: center;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 0.875em;

  a {
    text-decoration: none;
  }
}

ul.last-updated li {
  margin-bottom: 15px;
}

ul.last-updated li:last-child {
  margin-bottom: 0px;
}

ul.references {
  font-size: 0.875em;
}




/* --- START PAGE --- */ 

img.mindmap {
  display: block;
  margin: 0 auto 16px auto;
  width: 60%;
  padding: 4px;
  border: 1px solid rgb(236, 236, 236);
  margin-bottom: 15px;
}

p.date {
  width: 130px;
	float: left;
  vertical-align: top;
  font-weight: bolder;
  margin-bottom: 0px;
}

p.description {
  margin-left: 130px;
}