@import 'variables';

ul.navigation {
    border-top: 1px solid #dddddd;
    text-align: center;
    padding: 15px 0;
}

.navigation li {
    display: inline-block;
    margin: 0 .5%;
}

.navigation li a {
    display: block;
    color: $primary-color-dark;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 0.6em 1em;
    line-height: normal;
}

.navigation li a:hover {
    background-color: $primary-color-dark;
    color: #ffffff;
}